<mat-accordion>
    <mat-expansion-panel style="width: 250px;">
        <mat-expansion-panel-header>
            <mat-panel-title (click)="showMessages('ALL')">
                Inbox ({{inbox}})
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
            <mat-list-item (click)="showMessages('read')"> Read ({{read}}) </mat-list-item>
            <mat-list-item (click)="showMessages('answered')"> Answered ({{answered}}) </mat-list-item>
            <mat-list-item (click)="showMessages('duplicate')"> Duplicate ({{duplicate}}) </mat-list-item>
            <mat-list-item (click)="showMessages('reject')"> Rejected ({{rejected}}) </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>