    <div class='anaylytics'>

      <canvas #eventduration width="100" height="130"
      style="background-color:orange;
  background-image: linear-gradient(orange, white);
      padding: 10px;align-content: center;
      margin: 10px;"> </canvas>

      <canvas #chart1 width="100" height="130"
      style="background-color:blue;
       background-image: linear-gradient(blue, white);
      padding: 10px;align-content: center;margin: 10px;"> </canvas>

      <canvas #chart2 width="100" height="130"
      style="background-color:green;
       background-image: linear-gradient(green, white);
      padding: 10px;align-content: center;margin: 10px;"> </canvas>

      <canvas #chart3 width="100" height="130"
      style="background-color:yellow;
       background-image: linear-gradient(yellow, white);
      padding: 10px;align-content: center;margin: 10px;"> </canvas>

      <canvas #chart4 width="100" height="130"
      style="background-color:purple;
      background-image: linear-gradient(purple, white);
      padding: 10px;align-content: center;margin: 10px;"> </canvas>

      <canvas #chart5 width="100" height="130"
      style="background-color:magenta;
       background-image: linear-gradient(magenta, white);
      padding: 10px;align-content: center;margin: 10px;"> </canvas>
  </div>

    <!-- <canvas #chart6 width="100" height="160"
    style="background-color:rgb(53, 68, 110); padding: 10px;align-content: center;margin: 10px;"> </canvas>
 -->
