<button (click) ='sendMsg()'>Click to Subscribe</button>
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
    class="title-tem"
    *ngFor="let tile of tiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color">

    <app-top-bar *ngIf="tile.text === 'TopBar'"></app-top-bar>
    <app-messages-list *ngIf="tile.text === 'MessageList'"></app-messages-list>
    <app-dashboard-analytics *ngIf="tile.text === 'DashboarAnalytics'"></app-dashboard-analytics>
    <app-messages-details
      *ngIf="tile.text === 'MessageDetails'"
    ></app-messages-details>
    <app-message-center
      *ngIf="tile.text === 'MessageCenter'"
    ></app-message-center>
    <app-event-details  *ngIf="tile.text === 'EventDetails'"></app-event-details>
    <app-dashboard-analytics *ngIf="tile.text === 'DashboradAnalytics'"></app-dashboard-analytics>
  </mat-grid-tile>
</mat-grid-list>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
