<button (click) ='getDashBoard()'>Click to Subscribe Dashboard</button>

<div class="header">
  <h1>Chania</h1>
</div>
<div class="row">
  <div class="col-3 col-s-3 menu">
    <ul>
      <li>Inbox({{this.inbox}})</li>
      <li>Read</li>
      <li>Answered ({{answered}})</li>
      <li>Duplicate ({{duplicate}})</li>
      <li>Rejected ({{rejected}})</li>
    </ul>
  </div>

  <div class="col-6 col-s-9" style='font-size: .3em !important;'>
    <div style="overflow-x:auto;">
      <table>
        <tr >
          <th>#</th>
          <th>User</th>
          <th>Message</th>


        </tr>
        <tr *ngFor='let m of messages'>
          <td>{{m.userId}}</td>
          <td>{{m.message}}</td>


        </tr>
      </table>
    </div>  </div>

  <div class="col-3 col-s-12">
    <div class="aside">
      <h2>Subscriber</h2>
      <p>{{subscriber}}</p>
      <h2>Number of Messages</h2>
      <p>{{inbox}}</p>
      <h2>Rejected</h2>
      <p>{{rejected}}</p>
      <h2>Duplicate</h2>
      <p>{{duplicate}}</p>
      <h2>Answered</h2>
      <p>{{answered}}</p>
    </div>
  </div>
</div>

<div class="footer">
  <p>Resize the browser window to see how the content respond to the resizing.</p>
</div>
