/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
  background: #000;
  opacity: 0.85 !important;
}

.cdk-overlay-container,
.cdk-overlay-backdrop,
.cdk-global-overlay-wrapper,
.zIndex-adjust {
  z-index: 998;
}

.mat-list-base {
  padding-top: 0 !important;
}

.timepicker__header {
  background-color: #c2185b !important;
}

.timepicker__body,
.timepicker__actions {
  background-color: #303030 !important;
}

.clock-face {
  background-color: #424242 !important;
}

.mat-menu-panel {
  min-height: auto !important;
}

.mat-menu-content:not(:empty) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
